:root {
  --color_1: #253859;
  --color_2: #6E6E6E;
  --color_3: #0052CC;
  --color_4: #E7E7E7;
  --color_5: #FAFBFD;
  --color_6: #ffffff;
  --color_7: #ebebeb;
  --color_8: #dfdfdf;
  --color_9: #E5EEFA;
  --color_10: #a3c0ea;
  --color_11: #F4F5F7;
  --color_12: #afb5b9;
  --color_13: #dd6464;
  --color_14: #f0f0f0;
  --color_15: #637381;
  --color_16: #5f646d;
  --color_17: #E2E8F0;
  --color_18: #f1f5f9;
}
